// Override default variables before the import
$body-bg: #fff;

$theme-colors: (
  "pink":#E892BF,
  "purple":#9F7FB1,
  "red":#EB5E70,
  "orange":#F7AA76,
  "pink-2":#FAECF8,
  "pink-3":#FDF8FC,
  "blue":#299798,
  "cream":#FDDFD4
);
$position-values: (
    "10":10%,
    "1":1%,
    "2":2%,
    "3":3%,
    "4":4%,
    "5":5%,
    "6":6%,
    "7":7%,
    "8":8%,
    "20":20%,
    "25":25%,
    "30":30%,
    "40":40%,
    "50":50%,    
    "60":60%,
    "70":70%,
    "80":80%,
    "90":90%,
    "100":10%
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

:root{
    box-sizing: border-box;

}

.text-muted{
    font-size: 0.8rem;
}
.icon{
    width: 50px;
}
.select{
    width: 5%;

}
select::-ms-expand {
    display: none;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    border:none
}
.margin-left-auto{
    margin-left: auto;
}

.search{
    padding-top:0.7rem;
    padding-bottom:0.7rem;
    padding-left:2.5rem;
    border:none
}
.filter{
    height: 80px;
    padding-left:4rem;
    padding-right: 4rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.input{
    font-size: 0.9rem;
    padding-left:2.5rem;
    padding-top:0.8rem;
    padding-bottom:0.8rem;
}

.price{
    font-size: 1.5rem;
}

.button{
    width: 100%;
    padding: 0.6rem;

    color:white;
    text-transform: uppercase;
    font-size: 1vw;
    margin-top:2rem;
    &:hover{
        color:#299798;
        background-color: white;
    }
}

.button-secondary{
    @extend .button;
    background-color: white;
    color:#299798;
    &:hover{
        background-color: #299798;
        color:white
    }

}
.banner{
    font-size: 0.8rem;
}

.image{
    height: auto;
    width: 100%;
    padding-top: 1rem;
    padding-bottom:1rem;
    object-fit: fill;
}
.topping{
    margin-top: -1rem;
}
.border-round{
    border-radius: 0.75rem;
    border:1px solid #ced4da;
}

.card{
    margin-left: 5rem;
    margin-right: 5rem;
}
.paquete{
    border-top-right-radius: 0.75rem;
}
.footer{
    height: 40px;
}
.nav{
    padding-left:10%;
    padding-right: 10%;
}

@media (min-width: 1000px) {
    .price {
      font-size: 2rem;
    }
    .nav{
        padding-left:5%;
        padding-right: 5%;
    }
  }
@media (max-width:767px){
    .button{
        font-size: 1rem;
    }
}
.cream{
    color:#FDDFD4 !important
}

.footer-list{
    list-style-type: none;
}